@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #050505;
}
select,
aside,
body {
  scrollbar-width: thin;
  scrollbar-color: #777777 transparent;
}
/* For WebKit (Chrome, Safari, etc.) */
/* Width & Height of the scrollbar */
aside::-webkit-scrollbar,
select::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
/* Color of the scrollbar */
aside::-webkit-scrollbar-thumb,
select::-webkit-scrollbar-thumb {
  background-color: #777777;
}
aside::-webkit-scrollbar-track,
select::-webkit-scrollbar-track {
  background-color: transparent;
}
/* For WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
}

/* For Firefox */
/* Set the width and color of the scrollbar */
html {
  scrollbar-width: thin;
  scrollbar-color: gray;
}

/* Set the color of the scrollbar thumb (handle) */
html::-moz-scrollbar-thumb {
  background-color: gray;
}

@layer components {
  .purp-span span {
    @apply text-violet-300;
  }
}
