@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #050505;
}
.cover-img {
  background-image: url("/images/aniwave-cover.jpg");
}
.welcome-img {
  background-image: url("/images/animegirl.png");
}

.gridRes {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
@media screen and (min-width: 1082px) {
  .gridRes {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* For Firefox */
/* Width & Height of the scrollbar */
aside {
  scrollbar-width: thin;
  scrollbar-color: #777777 transparent; /* Color of the scrollbar */
}
/* For WebKit (Chrome, Safari, etc.) */
/* Width & Height of the scrollbar */
aside::-webkit-scrollbar {
  width: 5px; /* You can adjust this value */
  height: 10px; /* You can adjust this value */
}
/* Color of the scrollbar */
aside::-webkit-scrollbar-thumb {
  background-color: #777777;
}
aside::-webkit-scrollbar-track {
  background-color: transparent; /* Track color (background behind the scrollbar) */
}
